<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PeriodicalLevelDao">
	<select id="findPeriodicalLevel" resultMap="resultMap">
		select id, level_name from periodical_level;
	</select>
	<resultMap id="resultMap" type="periodicalLevel">
		<result property="id" column="id"/>
		<result property="levelName" column="level_name"/>
	</resultMap>
</mapper>